<% include ../layout/header %>

<div class="container">
    <div class="row">
        <div class="container mt-5">
                <h3 class="display-4 font-weight-lighter text-info"><%= campground.name %></h3>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container mt-5">
                <img class="img-fluid rounded-lg" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= campground.location %>&zoom=12&size=400x400&maptype=hybrid&markers=color:red%7C<%= campground.location %>&key=<%= GOOGLE_MAPS_API %>" />
            </div>
        </div>
        <div class="col-md-8">
            
        
            <div class="container mt-5">
                <div class="row text-center">
                    <div class="col-12">
                        <img src=<%= campground.image %> class="img-fluid rounded-lg" />
                        <span class="font-weight-light font-italic">Campground added by <%= campground.author.username %></span>
                    </div>
                </div>
            </div>
        
            <div class="container mt-sm-4 mt-3">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-5 text-center">
                        <p class="border border-info rounded-lg p-sm-2 p-1"><%= campground.price %>$ / night</p>
                    </div>
                </div>
            </div>

            <div class="container mt-sm-4 mt-3">
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-light"><%= campground.description %></p>
                    </div>
                </div>
            </div>
        
            <!-- COMMENTS -->
            <div class="container comments bg-secondary rounded-lg">
                <div class="row">
                    <div class="col-12 mt-4 mb-4 ">
                        <h5 class="text-info">Comments (<%= campground.comments.length %>)</h5>
                    </div>
                    <div class="col-lg-9 col-sm-10 col-12 mb-4">
                        <% campground.comments.map((comment) => { %>
                            <div class="ml-md-5 mt-2"><%= comment.text %> - 
                                <span class="font-weight-lighter font-italic"><%= comment.author.username %></span>  -
                                <% const days = Math.round((comment.created - currentDay)/86400000) %>
                                <% if(days < 2) { %>
                                        <span>Just added!</span>
                                    <% } else { %>
                                        <span><%= days %> days ago</span>
                                    <% } %>

                                <!-- EDIT and DELETE button -->
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <span>
                                        <a 
                                            class="ml-2"
                                            style="color: inherit; text-decoration: none;"
                                            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                            <i class="far fa-edit"></i>
                                        </a>
                                      
                                        <form 
                                            class="d-inline ml-2" 
                                            action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                            method="POST">
                                            <button style="padding: 0; border: none; outline: none; font: inherit; color: inherit; background: none;"><i class="far fa-times-circle"></i></button>
                                        </form>
                                        
                                    </span>
                               <% } %>
                                
                            </div>      
                        <% }) %>
                    </div>
                </div>
            </div>
        
            <!-- NAV BUTTON -->
            <div class="container text-right mt-4">
                <div class="row">
                    <!-- back button -->
                    <a href="/campgrounds/" class="btn btn-outline-light">Back</a>
                    <!-- display edit and delete button if the current user is logged in -->
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger ml-2">Delete</button>
                        </form>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-warning ml-2">Edit</a>
                    <% } %>  
                    <!-- Add comment button -->
                        <a 
                            href="/campgrounds/<%= campground._id %>/comments/new" 
                            class="btn btn-outline-info ml-sm-2 ml-0 mt-sm-0 mt-2">
                            Add comment
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layout/footer %>